.form {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  margin: 10vh auto;
  padding: 1rem 0 1rem 0;
  max-width: 25rem;
}

.form__input {
  width: 75%;
  margin: 0 auto;
  font-size: 2rem;
}

.form__label {
  font-size: 1.3rem;
}

// .login-section {
//   height: 100vh;
//   width: 100vw;
//   background-image: linear-gradient(rgba(#ccc, 0.3), rgba(#ccc, 0.3)),
//     url("/img/login_bg.jpg");
//   position: fixed;
// }
