/* Reset Webpage Styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #f7f7f7;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 75%;
}

.heading {
  text-align: center;
}

/* Data styling */
.data {
  text-align: center;
  margin-top: 5rem;
  line-height: 5rem;
}

.data__header {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #95a5a6;
}

.data__header--location {
  font-size: 3rem;
  text-transform: capitalize;
}

.data__value {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: #2c3e50;
}

.data__value--alt {
  font-size: 2rem;
  line-height: 2.3rem;
  color: #2c3e50;
}

.data__block {
  padding: 1rem 5rem;
  display: inline-block;
  vertical-align: top;
}

/* Navbar styles */
.nav {
  padding: 1rem 5rem;
  font-size: 2rem;
  letter-spacing: 1px;
}

.nav__link {
  font-weight: 300;
  text-align: left;
  text-decoration: none !important;
  color: #34495e;
  transition: all 0.3s;
  padding: 1rem;
}

.nav__link:hover {
  color: #3498db;
}

/* Graph */

.graph {
  position: relative;
  margin-top: 2rem;
  height: 60rem;
}

.graph__legend {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: capitalize;
}

/* Util classes */
.u-text-sm {
  font-size: 1.5rem;
}

.u-text-lg {
  font-size: 3rem;
}

/* Media queries */
@media only screen and (max-width: 640px) {
  .data__block {
    padding: 0 1rem;
  }
  .nav {
    justify-content: center;
  }

  .graph__legend {
    font-size: 1rem;
  }

  .vx-legend-shape > div {
    height: 8px !important;
    width: 8px !important;
  }
}

@media only screen and (max-width: 480px) {
  .graph__legend {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 265px) {
  .data__value {
    font-size: 3rem;
  }
}
