@media only screen and (max-width: 640px) {
  .data__block {
    padding: 0 1rem;
  }
  .nav {
    justify-content: center;
  }

  .graph__legend {
    font-size: 1rem;
  }

  .vx-legend-shape > div {
    height: 8px !important;
    width: 8px !important;
  }
}

@media only screen and (max-width: 480px) {
  .graph__legend {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 265px) {
  .data__value {
    font-size: 3rem;
  }
}
