<section class="data">
  <div class="container">
    {{#each doc as |data|}}
    <ul class="list-group">
      <li class="list-group-item">{{data.temp}}</li>
    </ul>
    {{/each}}
  </div>
</section>