body {
  font-family: $text-font-stack;
  line-height: 1.5;
}

.heading {
  text-align: center;
  margin-top: 3rem;
}

.message {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}
